<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="{{ .Site.Params.theme_color }}">
<meta name="apple-mobile-web-app-status-bar-style" content="{{ .Site.Params.theme_color }}">
<meta name="og:type" content="website">
<meta name="og:url" content="{{ .Site.BaseURL }}">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}/{{ .Site.Params.Favicon }}" type="image/x-icon">
<meta name="og:image" content="{{ .Site.Params.og_image }}">
<meta name="og:site_name" content="{{ .Site.Title }}">
<meta name="og:description" content="{{ .Site.Params.Description }}">
<meta name="description" content="{{ .Site.Params.Description }}">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
<title>{{ .Site.Title }}</title>